.popup_opened {
    display: block;
    height: 312px;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 170px;
    left: 52.2%;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    border-radius: 15px;
    opacity: 0.93;
}