.header__add-button {
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}

.header__add-button:hover {
    opacity: 0.9;
}

.header__add-button:active {
    transform: scale(0.97);
}